@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");
/*Global Styling*/

/*Used for overriding/resetting some default styling*
/*The * selector applies these values to every element on the page, 
and the ::before/::after make sure it also applies to any pseudo-elements.*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: Share Tech Mono, monospace;
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background-color: rgb(19, 19, 19);
}
a {
  text-decoration: none;
  color: rgb(218, 13, 155);
}
a:hover {
  color: rgba(243, 36, 14, 1);
}
ul {
  list-style: none;
}
p {
  font-size: 1.4rem;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*header*/
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.nav-logo {
  width: 7rem;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(255, 0, 210, 1);
}
.first-line {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 210, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}
.second-line {
  width: 30px;
  height: 3px;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 210, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}
.third-line {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  margin-left: 15px;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 210, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}
.menu-button {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 1.2rem;
  border-radius: 0% 0% 0% 40%;
}
.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}
.description {
  display: block;
}

.side-nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  z-index: 998;
  transition: all 650ms ease-in-out;
}
.side-nav-list.active {
  right: 0;
}
.side-nav-item {
  margin: 1.2rem 0;
}
.side-nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: rgb(3, 155, 155);
  letter-spacing: 1.5px;
}
.side-nav-link:hover {
  color: rgba(255, 0, 210, 1);
}
.toggle {
  background: none;
}
.toggle .first-line {
  transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}
.toggle .second-line {
  opacity: 0;
}
.toggle .third-line {
  transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
}
@keyframes sidenavLinkAnimation {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/*landing page*/
.landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(8, 8, 8, 1) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("images/landing-page.png") center no-repeat;
  background: size 50rem;
  position: relative;
}
.main-content {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-content h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(27), blink 1s ease-in-out 7s;
  width: 27ch;
  margin: auto;
  border-right: 4px solid rgb(255, 255, 255);
}
@keyframes typing {
  75% {
    width: 0ch;
    color: rgba(255, 0, 210, 1);
  }
  100% {
    width: 27ch;
  }
}
@keyframes blink {
  from {
    border-right: 4px solid rgba(255, 0, 210, 1);
  }
  to {
    border-right: 4px solid rgb(194, 194, 194);
  }
}
.main-content h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: rgba(8, 8, 8, 1);
  background: linear-gradient(
    to right,
    rgba(255, 0, 210, 1) 0%,
    rgba(8, 8, 8, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-content p {
  text-transform: none;
  font-size: 1.7rem;
  font-weight: 400;
}
.intro-btn {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 0 9px;
  background: rgba(3, 155, 155);
  border-radius: 2rem;
  color: #fafafa;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}
.btn:hover {
  color: #fafafa;
  background-color: rgba(255, 0, 210, 1);
}
.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}
.scroll-down i:hover {
  color: rgb(255, 0, 210);
}

/*about*/

.about {
  width: 100%;
  min-height: 100vh;
  max-width: 78rem;
  margin: auto;
}
.about.container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}
.about-img img {
  height: 12rem;
  width: auto;
  border-radius: 50%;
  margin: 2rem;
  box-shadow: 0 20px 30px 0 rgba(8, 8, 8, 1);
}
.about-description {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.about-description h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.about-description p {
  font-family: "poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    rgba(255, 0, 210, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  border: 0;
  height: 1px;
}

/*services*/
.services {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}
.services-title {
  text-align: center;
  margin-bottom: 5rem;
}
.services-title h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
}
.services-title p {
  font-family: "poppins", sans-serif;
  margin-bottom: 5rem;
}
.service-groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
}
.service-item {
  height: 30rem;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}
.service-item i {
  font-size: 3.5rem;
}
.service-item h2 {
  font-size: 2rem;
  margin: 3rem 0;
  background: linear-gradient(
    to right,
    rgba(255, 0, 210, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-entry p {
  font-family: "poppins" sans-serif;
  font-size: 1.4rem;
}
/*projects*/
.projects {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}
.margin-right {
  margin: 0 3rem 0 0;
}
.margin-left {
  margin: 0 0 3rem 0;
}
.project-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}
.project-image {
  /* width: 500px; 
  height: 300px;  */
  flex: 0.5;
}
.slideshow-container {
  max-width: 50%; 
  position: relative;
}

.slide {
  display: none; 
  width: 70%;
  height: auto;
}


.project-description {
  flex: 1;
}
.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(255, 0, 13, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-description p {
  font-family: "poppins" sans-serif;
  font-size: 1.4rem;
}
.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}

/*contact*/
.contacts {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
  padding-top: 5rem;
}
.contacts h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
.contacts p {
  font-family: "poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0.9rem 2rem;
}
.contacts.container {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*footer*/
footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding: 2.5rem;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
footer a {
  margin: 0 0.2rem;
}
.footer-content {
  margin: 2rem 0;
}
.footer-socials a {
  margin: 0 0.5rem;
  font-size: 2rem;
}
/*resposive design*/
@media (max-width: 750px) {
  /* font-size: 3rem; */

  .about.conatiner {
    flex-direction: column;
  }
  p {
    font-size: 1.3rem;
  }
  .services-title {
    margin: 0;
  }
  .services-groups {
    gap: 0;
  }
  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }
}
@media (max-width: 665px) {
  .main-content {
    top: 55%;
  }
  .main-content h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }
  .main-content h3 {
    font-size: 2rem;
  }
  .main-content p {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }
  .about-description h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .about-description p {
    margin: 0 0 2.45rem;
  }
  .services-title h2 {
    margin-bottom: 2rem;
  }
  .services-title p {
    font-size: 1.3rem;
  }
  .contacts.container {
    flex-direction: column;
  }
  footer,
  footer p {
    font-size: 1.2rem;
  }
}
